{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": [
            "last 2 versions",
            "chrome >= 44",
            "ie >= 9"
          ]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
